.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #FFF;
    width: 100%;
    border-bottom: 4px solid #D47F1B;
    z-index: 1;
}
.logo {
    height: 3rem;
}
.navLinks {
    display: flex;
    justify-content: space-evenly;
}
.links {
    padding-right: 3vw;
    font-size: 1.5rem;
    color:#FFF;;
    text-decoration: none;
}