.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #FFF;
    width: 100%;
    border-bottom: 4px solid var(--gold);
    z-index: 1;
}
.logo {
    height: 7rem;
}
.navLinks {
    display: flex;
    justify-content: space-evenly;
}
.links {
    display:none;
    padding-right: 3vw;
    font-size: 1.5rem;
    color:#FFF;;
    text-decoration: none;
}
@media only screen and (min-width: 992px) {
    .logo {
        height: 8rem;
    }
    .links {
        display: inline-block
    }
    .links:hover {
        color: var(--green);
    }
    }