.clientsBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../public/images/background/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
}
.title {
    color: #FFF;
}
.awsCarousel {
    margin: 2rem;
    border: 15px solid #D47F1B;
    border-radius: 3%;
    width: 70%;
    }