.background {
    background-image: url('../../../public/images/background/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #FFF;

}
.presentation {
    padding: 2rem;
}
.text {
    margin: 0rem 15rem;
    padding: 5rem;
    background-color: #D47F1B;
    border-radius: 25%;
    box-shadow: 4px 3px #000;
}