.servicesBackground {
    background-image: url('../../../../public/images/background/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
}
.title {
    display:flex;
    justify-content: center;
    padding: 2rem;
    color: #FFF;
    font-size: 2rem;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.74);
}
.servicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.servicesImages {
    margin-right: 4vw;
    padding: 1rem;
    border-radius: 50%;
    background-color: #D47F1B;
    box-shadow: 4px 3px #000;
    height: 10rem;
}
.services {
    margin: 1rem;
    padding: 2rem;
    border-radius: 15%;
    background-color: #367211;
    box-shadow: 4px 3px #000;
}
.servicesTitle {
    padding: 1rem 0rem;
    color: #FFF;
    font-size: 1.5rem;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.74);
}