.blogBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../../public/images/background/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
}
.title {
    padding: 2rem;
    color: #FFF;
    font-size: 2rem;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.74);
}
