.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    color: #367211;
    width: 100%;
    border-bottom: 4px solid #367211;
}
.logo {
    height: 3rem;
}
.navLinks {
    display: flex;
    justify-content: space-evenly;
}
.links {
    padding-right: 3vw;
    font-size: 1.5rem;
    color: #367211;
    text-decoration: none;
}