.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    color: #FFFFFF;
    width: 100%;
}
.logo {
    height: 3rem;
}
.navLinks {
    display: flex;
    justify-content: space-evenly;
}
.links {
    padding-right: 3vw;
    color: white;
    text-decoration: none;
}