.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #367211;
    color: #FFF;
}
.socialMedia {
    padding: 1rem;
}
.copyright {
    font-size: 1.5rem;
}