.blogBackground {
    background-image: url('../../../public/images/background/5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
}
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    color: #367211;
    width: 100%;
    border-bottom: 4px solid #367211;
    z-index: 1;
}
.logo {
    height: 3rem;
}
.title {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.74);
}
.post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.text {
    padding-right:20vw; 
}
.data {
    display:flex;
    background-color: #367211;
}
.img, .date {
    display: flex;
    flex-direction: column;
    margin:1rem;
}
.feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.publication {
    margin: 3rem;
    background-color: #FFF;
}