.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-image: url('../../../../public/images/background/1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
}
.copyright {
    font-size: 1rem;
}
@media only screen and (min-width: 992px) {
    .copyright{
        font-size: 1.5rem;
    }
}